<html>
    <body style="background: white;">
    <%= render 'layouts/header' %>
        <div style="padding-top: 20px;">
            <div>
                <div class="col-md-6 text-center">
                  <div class="well well-lg" style="background: #81DAF5;">

                    <h1>Donate or Adopt</h1>

                    <div class="tabs">
                        <ul class="tab-links">
                            <li class="active"><a href="#tab1">Register To Adopt</a></li>
                            <li><a href="#tab2">Donate</a></li>
                        </ul>
                     
                        <div class="tab-content" style="height: 280px;">
                            <div id="tab1" class="tab active">
                                <%= render 'form' %>
                            </div>
                     
                            <div id="tab2" class="tab">
                                <%= render 'form2' %>
                            </div>
                     
                        </div>
                    </div>
                    
                  </div>

                  <div class="well well-lg" style="height: auto; background: #81DAF5">
                    <h2>Featured Pets</h2>
                      
                        <% doc = Document.all %>
                        <% doc.each_with_index do |document, i| %>
                          <% if i < 10 %>
                           
                           <div class="well well-lg text-center" style="width: 180; display: inline-block;"> 
                            <div class="w3-card-2" style="width: 150px; border-radius: 25px;">
                                <%= image_tag(document.filename, :size => "150x150", :alt => "Image") %>
                                    
                                    <div class="w3-container w3-center" style="background-color:white; border-radius:25px;">
                                        <p><br><%= document.animalname %></p>
                                    </div>
                            </div>
                           </div>
                           
                          <% end %>  
                        <% end %>
                  </div>
                </div>
                
                <div class="col-md-3 text-center">
                    <% post = Story.all %>
                    <div class="well well-lg" style="background: #81DAF5;">
                    <header class="w3-container w3-grey">
                        <h4>Recent Posts</h4>
                    </header><br>
                    <% post.each_with_index do |post, i| %>
                        
                        
                            

                            <div class="well well-lg">
                                <header class="w3-container w3-dark-grey">
                                    <h4><%= post.title %></h4>
                                </header>

                                <div class="w3-container" style="font-size: 10px;">
                                    <p><u><br><%= post.created_at.strftime("%b-%d-%Y") %>
                                    <%= post.created_at.strftime("At %H:%M") %></p>
                                </div>
                              <div class="btn-group">  
                              <%= link_to 'View', story_path(post), class: 'btn btn-info' %>
                              </div>

                            </div>  
                    <% end %>    
                </div>

            </div>
            <div class="col-md-3 text-center">
             <div class="well well-lg" style="background: #81DAF5;">
                <p>This is going to be a query bar for pets based on size gender etc.</p>
             </div>
             <div class="well well-lg" style="background: #81DAF5;">
                <p>This is going to be...</p>
             </div>
            </div>
        </div>

    </body>
</html>