<%= render 'layouts/vheader' %>
<div class="container">
<div class="box">

  <%= link_to 'Add Image', new_document_path %>
  <div class="col-md-12">   
        <table overflow: auto;>

            <% @documents.each do |document| %>
            
              <td><%= link_to image_tag(document.filename, :size => "100x100", :alt => "Image"), document_path(document) %>
              <%= document.animalname %>
              <%= link_to 'Delete', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            
            <% end %>

        </table>
  </div>
 </div>
</div>

